#q3mapsTableBody .row {
    border-top: solid 1px;
}

#q3maps .row {
    width: 100%;
}

#keywordSearch {
    height: unset;
    color: gray;
}

#q3maps label {
    color: gray;
    font-size: 16px;
    padding-right: 9px;
    margin-bottom: 0;
}

#q3maps img {
    width: 100%;
    height: auto;
    max-width: 320px;
}

#q3maps .col-6 {
    padding: 8px 20px;
}

#q3maps form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

#q3mapsTableBody * {
    vertical-align: top;
}

#q3mapsTableBody {
    width: fit-content;
}
