#q3maps {
    letter-spacing: 1px;
}

#top body {
    margin: 48px;
    width: calc(100% - 96px);
}
@media screen and (max-width: 736px) {
    #top body {
        margin: 36px;
        width: calc(100% - 72px);
    }
}

@media screen and (max-width: 480px) {
    #top body {
        margin: 20px;
        width: calc(100% - 40px);
    }
}

#top body.modal-open {
    position: fixed;
    overflow: hidden;
}

#top body.modal-open * {
    pointer-events: none;
}

#q3mapsTableBody .row {
    border-top: solid 2px rgb(200, 200, 200);
}

#q3maps .row {
    width: 100%;
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    #q3mapsTableBody .row {
        padding: 12px 0 0 0;
    }
}

#q3maps .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(215, 215, 215);
    font-size: 12px;
    padding: 0 6px 0 8px;
    text-transform: uppercase;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    height: 32px;
    border-radius: 4px;
    display: flex;
    column-gap: 4px;
    align-items: center;
}

#keywordSearch {
    height: unset;
    color: rgb(250, 250, 250);
}

#q3maps .label {
    color: rgb(250, 250, 250);
    font-size: 16px;
    display: inline-block;
    padding-right: 9px;
    margin-bottom: 0;
}

#q3maps h3 {
    color: rgb(250, 250, 250);
    margin: 0;
    display: inline-block;
}

#q3maps .filter-items.star-icon,
#q3maps .filter-items.add-to-queue-icon {
    display: inline-block;
    padding-top: 0;
    position: absolute;
    top: 0;
}
@media screen and (max-width: 1800px) {
    #q3maps .filter-items.star-icon {
        top: -3px;
    }
}
@media screen and (max-width: 736px) {
    #q3maps .filter-items.star-icon {
        top: -6px;
    }
}

#q3maps .filter-items.star-icon a {
    background-image: url('../../images/icons/star.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

#q3maps .filter-items.star-icon a.favorite {
    background-image: url('../../images/icons/star-yellow.svg');
}

#q3maps .filter-items.star-icon {
    right: 40px;
}

#q3maps .filter-items.add-to-queue-icon {
    top: 0;
    right: 0;
}
@media screen and (max-width: 736px) {
    #q3maps .filter-items.add-to-queue-icon {
        top: -3px;
    }
}

#q3maps .filter-items.add-to-queue-icon a {
    background-image: url('../../images/icons/add-to-queue.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

#q3maps .filter-items.add-to-queue-icon a.queued {
    background-image: url('../../images/icons/remove-from-queue.svg');
}

#q3maps .image-container {
    display: block;
}

#q3maps img {
    width: 100%;
    height: auto;
}

#q3maps a {
    text-decoration: none;
    border-bottom-color: transparent;
    border-bottom-style: none;
}

#q3maps .col-2 {
    padding: 8px;
}

#q3maps .col-2 .image-container:first-child {
    padding-bottom: 16px;
}

@media screen and (max-width: 736px) {
    #q3maps .col-2 {
        padding: 8px 0 8px 8px;
    }

    #q3maps .col-2 .image-container:first-child {
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 480px) {
    #q3maps .col-2 a {
        display: inline-block;
        width: 50%;
    }

    #q3maps .col-2 {
        padding: 8px 0;
    }

    #q3maps .col-2 .image-container:first-child {
        padding-bottom: 0;
        padding-right: 4px;
    }

    #q3maps .col-2 .image-container:last-child {
        padding-left: 4px;
    }
}

#q3maps .col-6.info-container {
    padding-left: 16px;
    position: relative;
}

@media screen and (max-width: 736px) {
    #q3maps .col-6.info-container {
        padding: 8px 0 16px 0;
    }
}

#q3maps .col-4 {
    padding: 8px 8px 8px 0;
}

#q3maps .col-8 {
    padding: 8px 16px;
}
@media screen and (max-width: 736px) {
    #q3maps .col-8 {
        padding: 8px 0;
    }
}
@media screen and (max-width: 480px) {
    #q3maps .col-4 {
        padding: 8px 0;
    }
}
@media screen and (min-width: 481px) {
    #q3maps .col-6:not(.info-container) {
        width: calc(50% - 6px);
    }
}

#q3mapsTableBody * {
    color: rgb(215, 215, 215);
    vertical-align: top;
}

#q3mapsTableBody {
    width: 100%;
}

#q3maps .keywords img {
    margin: 2px;
}

#q3maps .favorites a,
#q3maps .random a,
#q3maps .types a {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: 35px;
    margin: 7px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(215, 215, 215);
    padding: 4px 20px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

#q3maps .favorites a.selected,
#q3maps .types a.selected {
    background: darkslategray;
    outline: 2px solid gray;
}

#q3maps .favorites .star-icon,
#q3maps .favorites .exclude-icon {
    background-size: contain;
    height: 18px;
    width: 18px;
}

#q3maps .favorites .star-icon {
    background-image: url('../../images/icons/star-yellow.svg');
}

#q3maps .favorites .up-arrow {
    font-size: 20px;
    margin-right: 4px;
    color: #ffff01;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
}

#q3maps .keywords img,
#q3maps .filter-items img {
    height: 25px;
    width: 25px;
    margin: 5px;
    display: inline;
    position: relative;
}

#q3maps .filter-items a,
#q3maps .filter-items img {
    cursor: pointer;
}

#q3maps .filter-items a {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    margin: 7px;
    text-decoration: none;
    border-bottom-color: transparent;
    transition: transform 0.2s ease-in-out;
    -webkit-transform-style: preserve-3d;
}

#q3maps .filter-items a:hover {
    transform: scale(1.2);
    outline: 2px solid gray;
}

#q3maps .filter-items a.selected {
    background: darkslategray;
    outline: 2px solid gray;
}

#q3maps .filter-items a.selected:before {
    opacity: 0.5;
}

#q3maps .filter-list.exclude .filter-items a:before {
    content: url('../../images/icons/icon_slashed_circle.svg');
    position: absolute;
    height: 35px;
    width: 35px;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 1;
}

#q3maps input[type="text"],
#q3maps select {
    background-color: rgb(215, 215, 215);
    color: rgb(18, 18, 18);
}

#q3maps select,
#q3maps select * {
    cursor: pointer;
}

@media screen and (min-width: 737px) {
    #q3maps .menu {
        display: block !important;
    }
}

@media screen and (max-width: 736px) {
    .menu-icon:not(.visible-sm) span {
        display: none;
    }
}

.menu-icon,
.menu-icon * {
    cursor: pointer;
}

#q3maps .clear-search {
    position: absolute;
    right: 10px;
    bottom: 8px;
    cursor: pointer;
}

#q3maps .filter-items {
    overflow: hidden;
    padding-top: 4px;
}

#q3maps .filter-list .label {
    cursor: pointer;
}

#q3maps .caret {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

#q3maps .caret.closed {
    transform: rotate(-180deg);
}

#q3maps .clear-filters {
    color: darkgray;
    font-size: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 7px;
}

#top .poptrox-popup {
    height: auto;
    width: 50vw !important;
    min-width: 384px !important;
    max-width: 90vw !important;
}

#top .poptrox-popup img {
    height: 100% !important;
    width: 100% !important;
    min-height: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    max-width: unset !important;
}

#top .poptrox-popup .caption {
    color: rgb(18, 18, 18);
}

#top .modal {
    position: fixed;
    width: 50%;
    min-width: 350px;
    margin: auto;
    height: auto;
    max-height: 95vh;
    overflow-y: auto;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(239, 239, 239);
    color: rgb(18, 18, 18);
    font-size: 18px;
}
#top .modal,
#top .modal * {
    pointer-events: all !important;
}

#top .modal ul {
    padding-left: 0;
    list-style: inside;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 2em;
}

#top .modal .row {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
}

#top .modal button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
}

#top #cookieConsent button {
    width: 48%;
}

#top #randomMap button {
    display: flex;
    width: 32%;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

#top .modal .closer {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#top .modal .closer svg {
    position: absolute;
}

#mapTitle {
    font-size: 24px;
    text-align: center;
}

#mapId {
    font-size: 18px;
    text-align: center;
}

#top .modal-map-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#top .modal-map-info .modal-map-image,
#top .modal-map-info .modal-map-title {
    width: 48%;
}

#top .modal-map-info .modal-map-title div {
    min-height: 28px;
}

@media screen and (max-width: 480px) {
    #top .modal-map-info .modal-map-image,
    #top .modal-map-info .modal-map-title {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #top .modal-map-info .modal-map-image {
        padding: 12px;
    }
}

@media screen and (max-width: 480px) {
    #top .modal-map-info .modal-map-image img {
        min-height: 214px;
    }
}

#top .modal-map-image img {
    width: 100%;
    height: auto;
    min-height: 100px;
}

#top .modal-map-info .modal-map-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    #top .modal {
        padding: 20px;
    }

    #top #cookieConsent button {
        width: 100%;
    }
}
